<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6914623403868" version="0.0.1"> 
  <name>小说阅读器</name>  
  <description/>  
  <author email="2867557054@qq.com" href="http://addon.discuz.com/?@58212.developer">西风工作室</author>  
  <content src="index.html"/>  
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="#f5f5f5"/>  
  <preference name="windowBackground" value="#f5f5f5"/>  
  <preference name="frameBackgroundColor" value="#f5f5f5"/>  
  <preference name="hScrollBarEnabled" value="false"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="true"/>  
  <preference name="debug" value="true"/>  
  <preference name="iOS7StatusBarAppearance" value="true"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <preference name="softInputMode" value="resize"/>  
  <preference name="urlScheme" value="jamesonreadapp"/>  
  <preference name="querySchemes" value="jamesonreadapp"/>  
  <preference name="backgroundMode" value="audio"/>  
  <permission name="readPhoneState"/>  
  <access origin="*"/>  
  <feature name="wx"> 
    <param name="urlScheme" value="wx46a8bf4e5f808e89"/>  
    <param name="apiKey" value="wx46a8bf4e5f808e89"/>  
    <param name="apiSecret" value="88ccfca60702ee15e1913f7fa6a1894e"/> 
  </feature>  
  <feature name="qq"> 
    <param name="urlScheme" value="tencent101064640"/>  
    <param name="apiKey" value="101064640"/> 
  </feature>  
  <feature name="UISearchBar"/>  
  <feature name="UIScrollPicture"/>  
  <feature name="personalCenter"/>  
  <feature name="MNPopups"/>  
  <feature name="UILoading"/>  
  <feature name="dialogBox"/>  
  <feature name="NVTabBar"/>  
  <feature name="bookReader"/>  
  <feature name="fs"/>  
  <feature name="welcomePage"/>  
  <feature name="webBrowser"/>  
  <feature name="audio"/>  
  <feature name="fileBrowser"/>  
  <feature name="speechRecoqnizer"/>  
  <feature name="FNScanner"/>  
  <feature name="speechRecognizer"/> 
</widget>
